*~
project/boot
project/plugins/project
project/plugins/target
project/target
target
.ensime
.DS_Store
TAGS
\#*#
*~
.#*
.lib
.tmp
.sass-cache
*.aux.xml
*.jar
.idea

geotrellis/src/main/resources/credentials.conf