html,
body {
  font-family: "Open Sans";
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  html h1, html h2, html h3, html h4, html h5, html h6,
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "Open Sans"; }

header {
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 40px; }
  @media only screen and (max-width: 767px) {
    header {
      padding: 0 20px; } }

.content {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
  background-color: #2e587c;
  background: url(../img/header-bg.png) repeat-x top;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2e587c), to(#073054));
  background: -webkit-linear-gradient(top, #073054, #2e587c);
  background: -moz-linear-gradient(top, #073054, #2e587c);
  background: -ms-linear-gradient(top, #073054, #2e587c);
  background: -o-linear-gradient(top, #073054, #2e587c); }
  @media only screen and (max-width: 767px) {
    .content {
      padding: 20px; } }
  .content #toolbar {
    height: 70px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .content #toolbar {
        display: none; } }
  .content .content-wrapper {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 20px;
    top: 105px; }
    @media only screen and (max-width: 767px) {
      .content .content-wrapper {
        right: 0;
        left: 0;
        top: 20px; } }
    .content .content-wrapper > div {
      border-radius: 8px; }
    .content .content-wrapper #map {
      background: #AAA;
      height: 100%;
      left: 0;
      position: absolute;
      right: 365px; }
      @media only screen and (max-width: 767px) {
        .content .content-wrapper #map {
          right: 20px;
          left: 20px; } }
    .content .content-wrapper #sidebar {
      background: white;
      height: 100%;
      right: 0;
      position: absolute;
      width: 340px;
      z-index: 1009; }
      @media only screen and (max-width: 767px) {
        .content .content-wrapper #sidebar {
          right: -340px;
          border-radius: 6px 0 0 6px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0);
          transition: all 0.5s; }
          .content .content-wrapper #sidebar.active {
            right: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); } }

.modal {
  overflow: auto; }
  .modal label.report-label {
    clear: both;
    font-weight: 400;
    width: 100%; }
    .modal label.report-label > span.label-number {
      margin-right: 6px;
      font-weight: 700;
      font-size: 18px;
      color: #5188cb; }
  .modal .well {
    margin-top: 10px;
    padding: 14px; }
    .modal .well p {
      font-size: 12px; }
  .modal #report-study-area-traveltime-options input[type="checkbox"],
  .modal #report-study-area-radius-options input[type="checkbox"] {
    margin-top: 8px; }
  .modal #report-study-area-traveltime-options .report-study-area-traveltime-options-input,
  .modal #report-study-area-traveltime-options .report-study-area-radius-options-input,
  .modal #report-study-area-radius-options .report-study-area-traveltime-options-input,
  .modal #report-study-area-radius-options .report-study-area-radius-options-input {
    width: 60px;
    float: left; }
  .modal .report-type-list {
    max-height: 200px;
    overflow-y: auto;
    border-radius: 6px;
    border: 1px solid #DDD; }
    .modal .report-type-list .list-group {
      border: none;
      margin: 0; }
      .modal .report-type-list .list-group .list-group-item {
        border-radius: 0;
        border: none;
        border-top: 1px solid #DDD;
        padding: 12px 15px; }
        .modal .report-type-list .list-group .list-group-item:first-child {
          border: none; }
        .modal .report-type-list .list-group .list-group-item h4 {
          font-size: 16px; }
        .modal .report-type-list .list-group .list-group-item p {
          font-size: 11px; }

header {
  background: #5188cb; }
  header h1 {
    margin: 5px 0 0;
    font-size: 1.5em;
    line-height: 60px;
    float: left;
    color: white;
    background: url(../images/logo@2x.png) no-repeat;
    background-size: 100%;
    width: 203px;
    height: 50px;
    text-indent: -9999px; }
  header h2 {
    margin-left: 25px;
    float: left;
    margin-bottom: 4px;
    margin-top: 7px;
    font-size: 24px;
    font-weight: 300;
    color: white; }
    header h2 small {
      display: block;
      font-size: 16px;
      font-weight: 700;
      margin-top: 2px;
      margin-left: 1px;
      color: #c7d9ee; }

#toggle-sidebar {
  float: right;
  margin-top: 10px; }

#toolbar > .tool {
  padding: 12px 10px;
  background-color: #52718c;
  background: url(../img/btngroup-bg.png) repeat-x top;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#21405a), to(#52718c));
  background: -webkit-linear-gradient(top, #52718c, #21405a);
  background: -moz-linear-gradient(top, #52718c, #21405a);
  background: -ms-linear-gradient(top, #52718c, #21405a);
  background: -o-linear-gradient(top, #52718c, #21405a);
  box-shadow: 1px 1px 5px black;
  color: white;
  width: 94px;
  border-radius: 6px;
  height: 100%;
  text-align: center; }
  #toolbar > .tool:hover {
    background: #21405a;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer; }
  #toolbar > .tool.active {
    background: #52718c; }
  #toolbar > .tool.left {
    float: left;
    margin-right: 10px; }
    #toolbar > .tool.left:last-of-type {
      margin-right: 0; }
  #toolbar > .tool.right {
    float: right;
    margin-left: 10px; }
    #toolbar > .tool.right:last-child {
      margin-left: 0; }
  #toolbar > .tool.tool-lg {
    width: 180px; }
  #toolbar > .tool > .glyphicon {
    font-size: 1.5em; }
  #toolbar > .tool > .tool-title {
    font-size: 0.75em;
    font-weight: 700;
    margin-top: 4px; }
#toolbar .slider {
  width: 86% !important;
  margin: 0 10px; }
#toolbar .tool-opacity > .tool-title {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 0; }
#toolbar .tool-opacity .slider .slider-handle {
  background: white;
  opacity: 1;
  border: 1px solid #CCC; }
  #toolbar .tool-opacity .slider .slider-handle:hover {
    box-shadow: 0 1px 8px black;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5); }
#toolbar .tool-ramp {
  margin-right: 0 !important; }
  #toolbar .tool-ramp .ramp-img {
    width: 100%;
    height: 20px;
    margin-bottom: 5px; }
  #toolbar .tool-ramp .ramp-high {
    font-size: 0.75em;
    float: right; }
  #toolbar .tool-ramp .ramp-low {
    font-size: 0.75em;
    float: left; }

.color-ramp-selector img {
  float: left;
  clear: both;
  margin-bottom: 6px;
  opacity: .5; }
  .color-ramp-selector img:hover {
    opacity: 1;
    cursor: pointer; }
  .color-ramp-selector img.active {
    opacity: 1; }
  .color-ramp-selector img:last-child {
    margin-bottom: 10px; }

.find-address-container .close {
  margin-top: -4px; }
.find-address-container h4 {
  margin-top: 4px; }

.leaflet-control-layers.leaflet-control-layers-expanded {
  padding: 10px 15px; }
.leaflet-control-layers .leaflet-control-layers-separator {
  margin: 10px -15px 8px -15px; }
.leaflet-control-layers input[type="radio"],
.leaflet-control-layers input[type="checkbox"] {
  margin-right: 4px; }

.leaflet-popup a.leaflet-popup-close-button {
  padding: 8px 20px 0 0; }
.leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 0; }
  .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    min-width: 250px;
    margin: 15px 15px 0; }
  .leaflet-popup .leaflet-popup-content-wrapper .parcel-details-header {
    margin: -16px -16px 0;
    background: #5188cb;
    height: 34px;
    border-radius: 0; }
    .leaflet-popup .leaflet-popup-content-wrapper .parcel-details-header h5 {
      margin: 0;
      padding: 10px;
      color: white;
      font-size: 12px;
      font-weight: 700; }
  .leaflet-popup .leaflet-popup-content-wrapper .parcel-details-body {
    max-height: 180px;
    overflow-y: auto;
    margin: 0 -16px; }
    .leaflet-popup .leaflet-popup-content-wrapper .parcel-details-body table {
      margin: 0; }
    .leaflet-popup .leaflet-popup-content-wrapper .parcel-details-body .btn {
      color: white; }

#sidebar input[type='radio'],
#sidebar input[type='checkbox'] {
  opacity: 0;
  float: left;
  width: 0; }
  #sidebar input[type='radio'] + label,
  #sidebar input[type='checkbox'] + label {
    margin: 0;
    clear: none;
    padding: 0 0 0 28px;
    height: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #232323;
    cursor: pointer;
    vertical-align: top;
    background: url(../images/off.png) left center no-repeat; }
  #sidebar input[type='radio'].disabled + label,
  #sidebar input[type='checkbox'].disabled + label {
    opacity: 0.4;
    cursor: default; }
#sidebar input[type='radio']:checked + label {
  background-image: url(../images/radio.png); }
#sidebar input[type='checkbox']:checked + label {
  background-image: url(../images/check.png); }
#sidebar .scenarios {
  padding: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 999;
  height: 70px;
  background-color: #52718c;
  background: url(../img/btngroup-bg.png) repeat-x top;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#21405a), to(#52718c));
  background: -webkit-linear-gradient(top, #52718c, #21405a);
  background: -moz-linear-gradient(top, #52718c, #21405a);
  background: -ms-linear-gradient(top, #52718c, #21405a);
  background: -o-linear-gradient(top, #52718c, #21405a);
  border-radius: 6px 6px 0 0; }
  @media only screen and (max-width: 767px) {
    #sidebar .scenarios {
      border-radius: 6px 0 0 0; } }
  #sidebar .scenarios:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 14px solid #21405a;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    position: absolute;
    bottom: -13px;
    left: 39px; }
  #sidebar .scenarios > span {
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-top: -3px;
    margin-left: 3px; }
    #sidebar .scenarios > span > small {
      display: block;
      font-size: 12px;
      font-weight: 300; }
  #sidebar .scenarios > select {
    display: inline-block;
    width: 235px;
    margin-left: 10px;
    padding: 6px; }
#sidebar .factors {
  overflow: auto;
  position: absolute;
  bottom: 60px;
  top: 70px;
  left: 0;
  right: 0; }
  #sidebar .factors .factor {
    margin: 10px 10px 10px 30px;
    padding: 15px;
    border-radius: 6px;
    background-color: #f1f2f2;
    position: relative;
    width: 285px; }
    #sidebar .factors .factor:first-child {
      margin-top: 18px; }
    #sidebar .factors .factor:last-child {
      margin-bottom: 18px; }
    #sidebar .factors .factor:hover {
      background: #f1f2f2; }
    #sidebar .factors .factor.active {
      background: #5188cb;
      color: white; }
      #sidebar .factors .factor.active:hover {
        background-color: #366eb3; }
    #sidebar .factors .factor > span {
      display: inline-block;
      width: 220px;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 6px;
      line-height: 14px; }
    #sidebar .factors .factor .slider {
      width: 190px;
      margin-left: 25px; }
      #sidebar .factors .factor .slider + .count {
        display: inline-block;
        font-weight: 700;
        line-height: 14px;
        font-size: 18px;
        margin-left: 15px; }
      #sidebar .factors .factor .slider .slider-handle {
        background: white;
        opacity: 1;
        border: 1px solid #CCC; }
        #sidebar .factors .factor .slider .slider-handle:hover {
          box-shadow: 0 1px 8px black;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5); }
    #sidebar .factors .factor .factor-options {
      position: absolute;
      left: -20px;
      top: 0;
      width: 15px; }
      #sidebar .factors .factor .factor-options > a {
        float: left;
        clear: both;
        cursor: pointer; }
      #sidebar .factors .factor .factor-options > .tooltip {
        margin-right: 15px;
        min-width: 100px; }
#sidebar .all-factors {
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  bottom: 60px;
  top: 70px;
  width: 100%;
  right: 0;
  background-color: #dae6f4;
  transition: width 0.5s;
  z-index: 9999; }
  #sidebar .all-factors.hide-panel {
    width: 0%; }
  #sidebar .all-factors ul {
    padding: 15px;
    list-style: none;
    width: 310px; }
    #sidebar .all-factors ul ul {
      height: auto;
      transition: height 0.5s;
      padding: 0;
      margin: 10px 0 10px 23px; }
    #sidebar .all-factors ul .collapsed > ul {
      height: 0px;
      overflow: hidden;
      margin: 0; }
    #sidebar .all-factors ul .collapsed .collapse-arrow {
      opacity: 0.5; }
    #sidebar .all-factors ul .collapse-arrow {
      float: left;
      margin-right: 5px;
      margin-top: -2px;
      font-size: 18px; }
      #sidebar .all-factors ul .collapse-arrow:hover {
        cursor: pointer;
        opacity: 1; }
#sidebar .manage {
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  padding: 13px;
  border-top: 1px solid #f1f2f2;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.05); }

.tooltip-inner {
  padding: 8px 12px;
  text-align: left; }

#tool-legend-popover {
  top: 90px;
  left: 40px;
  bottom: 20px;
  width: 320px;
  max-width: 320px; }
  #tool-legend-popover.in {
    display: block; }
  @media only screen and (max-width: 767px) {
    #tool-legend-popover {
      display: none; } }
  #tool-legend-popover > .arrow {
    left: 45px; }
  #tool-legend-popover > .popover-content > ul {
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    top: 40px;
    margin-top: 15px;
    list-style: none;
    padding: 15px 15px;
    left: 0;
    right: 0;
    border-top: 1px solid #F1f2f2; }
    #tool-legend-popover > .popover-content > ul > li {
      margin-bottom: 6px; }
    #tool-legend-popover > .popover-content > ul ul {
      height: auto;
      display: block;
      padding: 0;
      margin: 5px 0 15px 23px;
      width: auto;
      list-style: none; }
      #tool-legend-popover > .popover-content > ul ul > li {
        font-size: 12px;
        margin-bottom: 3px; }
      #tool-legend-popover > .popover-content > ul ul .legend-icon {
        width: 12px;
        height: 12px;
        display: inline-block;
        background: #f1f2f2;
        margin-right: 8px;
        top: 2px;
        position: relative; }
    #tool-legend-popover > .popover-content > ul .collapsed {
      display: none; }
      #tool-legend-popover > .popover-content > ul .collapsed .collapse-arrow {
        opacity: 0.5; }
    #tool-legend-popover > .popover-content > ul .collapse-arrow {
      float: left;
      margin-right: 10px;
      margin-top: 1px;
      font-size: 14px;
      opacity: 0.5;
      width: 12px; }
      #tool-legend-popover > .popover-content > ul .collapse-arrow:hover {
        cursor: pointer;
        opacity: 1; }
      #tool-legend-popover > .popover-content > ul .collapse-arrow.active {
        opacity: 1; }
  #tool-legend-popover input[type='radio'],
  #tool-legend-popover input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 0; }
    #tool-legend-popover input[type='radio'] + label,
    #tool-legend-popover input[type='checkbox'] + label {
      margin: 0;
      clear: none;
      padding: 0 0 0 28px;
      height: 20px;
      font-size: 1.3rem;
      font-weight: 600;
      color: #232323;
      cursor: pointer;
      vertical-align: top;
      background: url(../images/off.png) left center no-repeat; }
    #tool-legend-popover input[type='radio'].disabled + label,
    #tool-legend-popover input[type='checkbox'].disabled + label {
      opacity: 0.4;
      cursor: default; }
  #tool-legend-popover input[type='radio']:checked + label {
    background-image: url(../images/radio.png); }
  #tool-legend-popover input[type='checkbox']:checked + label {
    background-image: url(../images/check.png); }
