// Partials: Legend

#tool-legend-popover {
    top: 90px;
    left: 40px;
    bottom: 20px;
    width: 300px;
    max-width: 300px;

    &.in {
        display: block;
    }

    @media #{$screen-tablet} {
		display: none;
	}

    > .arrow {
        left: 45px;
    }
    
    > .popover-content {
        > ul {
            overflow-x: auto;
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
            top: 40px;
            margin-top: 15px;
            list-style: none;
            padding: 15px 15px;
            left: 0;
            right: 0;
            border-top: 1px solid #F1f2f2;
    
            ul {
    			height: auto;
                display: block;
    			padding: 0;
    			margin: 5px 0 15px 23px;
                width: auto;
                list-style: none;
    
                > li {
                    font-size: 12px;
                    margin-bottom: 3px;
                }
                .legend-icon {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    background: #f1f2f2;
                    margin-right: 8px;
                    top: 2px;
                    position: relative;
                }
    		}
    
    		.collapsed {
                display: none;

    			.collapse-arrow {
    				opacity: 0.5;
    			}
    		}
    		.collapse-arrow {
    			float: left;
    			margin-right: 10px;
    			margin-top: 1px;
    			font-size: 14px;
                opacity: 0.5;
                width: 12px;
    
    			&:hover {
    				cursor: pointer;
    				opacity: 1;
    			}
                &.active {
                    opacity: 1;
                }
    		}
        }
	}
}
