input[type="checkbox"].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	width: 1px; 
	margin: -1px; 
	padding: 0;
	border: 0;

	&:checked {
		+ label.css-label {
			background-position: 0 -20px;
		}
	}

	+ label.css-label {
		padding-left: 25px;
		height: 20px; 
		display: inline-block;
		background-repeat: no-repeat;
		background-position: 0 0;
		vertical-align: top;
		cursor: pointer;

        & + span {
            min-height: 20px;
            display: inline-block;
            width: 230px;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            margin-bottom: 3px;
            
            #tool-legend-popover & {
                width: 195px;
            }
        }
	}
}

.css-label{ 
	background-image: url(http://csscheckbox.com/checkboxes/web-two-style.png);
}