input[type="checkbox"].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	width: 1px; 
	margin: -1px; 
	padding: 0;
	border: 0;

	&:checked {
		+ label.css-label {
			background-position: 0 -20px;
		}
	}

	+ label.css-label {
		padding-left: 25px;
		height: 20px; 
		display: inline-block;
		line-height: 20px;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 12px;
		font-weight: 700;
		vertical-align: middle;
		cursor: pointer;
	}
}

.css-label{ 
	background-image: url(http://csscheckbox.com/checkboxes/web-two-style.png);
}