// Colors
$bg-color			: #5188cb; // Blue
$light-gray			: #F1F2F2; // Light Gray

// Media Queries
$screen-phone		: "only screen and (max-width: 480px)";
$screen-tablet		: "only screen and (max-width: 767px)";
$screen-desktop		: "only screen and (max-width: 992px)";

// Fonts
$base-font-family	: 'Open Sans';
